.window {
    background-color: #1e1e1e;
    color: white;
    font-family: 'Courier New', monospace;
    width: 75%;
    height: 100%;
    position: fixed;
    left: 25%;
    top: 0;
    bottom: 0;
    font-size: 1em;
}

.history {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: absolute;
    left: 10%;
    top: 30px;
    width: 70%;
    height: 77.5%;  
    padding: 2.5%;
}

.history p {
    margin: 0; 
    padding: 5px; 
    margin-bottom: 20px; 
}

/* Style the input box */
.input {
    display: flex;
    align-items: center;
    padding: 2.5%;
    position: absolute;
    left: 10%;
    top: 85%;
    height: 5%;
    width: 70%;
    background-color: #404040;
}

/* Style the input field */
.input textarea {
    background-color: #404040;
    color: white;
    font-family: 'Courier New', monospace;
    flex: 1;
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 1em;
    resize: none;
}

/* Style the send button */
.input button {
    background: #404040;
    color: #fff;
    font-family: 'Courier New', monospace;
    border: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
}

.input button:active {
    background: #505050;
}

.message-block {
    background-color: #1e1e1e;
    padding: 0.5rem;
    /* border-radius: 0.5rem; */
    transition: background-color 0s ease-in-out;
}

.message-block:hover {
    background-color: #2e2e2e;
}

.message-block p, .message-block li {
    margin: 0.5rem 0;
}

.message-block li {
    list-style: decimal;
}


@media only screen and (max-width: 1290px) {
    /* Modify the login popup window */
    .window {
        width: 100%;
        left: 0%;
    }

    .history {
        font-size: 3vw;
        left: 0%;
        top: 30px;
        width: 90%;
        height: 77.5%;  
        padding: 5%;
        /* padding: 5%; */
    }

    /* Style the input box */
    .input {
        width: 80%;
        left: 5%;
        right: 5%;
        padding: 5%;
        top: 85%;
        height: 5%;
    }

    /* Style the input field */
    .input textarea {
        height: 100%;
        padding: 0px;
        font-size: 3vw;
        line-height: 100%;
    }

    /* Style the send button */
    .input button {
        padding: 10px;
        cursor: pointer;
        font-size: 3vw;
        margin-left: 2.5%;
    }

    .message-block {
        padding: 1rem;
    }
}