/* Style the login popup window */
.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    width: 500px;
    padding: 2.5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 999;
    font-size: 16px;
}

.login h1 {
    font-weight: normal;
    padding: 0px;
    padding-bottom: 0px;
    margin: 0;
    font-size: 24px;
}

/* Style the form input */
.login input {
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    border: 0;
    font-size: 16px;
    outline: 0;
    padding: 10px;
    padding-left: 0px;
    overflow: scroll;
    margin-bottom: 2.5%;
    width: 75%;
}

.login disclaimer {
    display: block; 
    text-align: center;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    color: #b7b7b7;
}

.login a {
    color: #b7b7b7;
}

/* Style the submit button */
.login button {
    color: white;
    background-color: black;
    font-family: 'Courier New', monospace;
    font-size: 1em;
    border: 0;
    padding: 10px;
    padding-right: 0px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    display: table-cell;
}

/* Style the overlay */
.loginOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998;
}

/* dimm the rest of the screen */
.loginOverlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #404040;
    z-index: -1;
    opacity: 0.5;
}

@media only screen and (max-width: 1290px) {
    /* Modify the login popup window */
    .login {
        width: 70%;
        padding: 5%;
        font-size: 3vw;
    }

    .login h1 {
        font-size: 6vw;
    }
    
    /* Modify the form input */
    .login input {
        width: 100%;
        margin-bottom: 5%;
        font-size: 3vw;
    }
    
    /*Modify the disclaimer*/
    .login disclaimer {
        font-size: 3vw;
    }
    
    /* Modify the submit button */
    .login button {
        padding: 5%;
    }
}