.sidebar {
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    width: 25%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.sidebar .h1 {
  font-weight: normal;
  padding: 30px;
  padding-bottom: 0px;
  margin: 0;
  font-size: 2.8vw
}

.sidebar .h3 {
  font-weight: normal;
  padding: 30px;
  padding-top: 0px;
  font-size: 1.2vw;
  margin: 0;
}

.sidebar .option {
  background: none;
  border: none;
  padding-left: 30px;
  font-family: 'Courier New', monospace;
  color: white;
  cursor: pointer;
}

.sidebar .option:hover {
  text-decoration: underline;
}

.sidebar .play {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.sidebar .info {
  position: absolute;
  top: 95%;
  transform: translateY(-100%);
}