@media only screen and (min-width: 1290px) {
  .topbar {
    display: none;
  }
}

.topbar {
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    width: 100%;
    height: 10%;
    position: fixed;
    left: 0;
    top: 0;
}

.topbar .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vw;
  padding: 2.5vw;
  padding-bottom: 0vw;
}

.topbar h1 {
  font-size: 6vw;
  font-weight: normal;
  margin: 0;
}

.topbar .play {
  display: flex;
  justify-content: space-between;
  align-items: right;
  font-size: 3vw;
  text-decoration: underline;
  padding-right: 2.5vw;
}

.topbar .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5vw;
  padding-top: 0vw;
}

.topbar .links a {
  margin: 0 10px;
  font-family: 'Courier New', monospace;
  color: white;
  cursor: pointer;
  font-size: 3vw;
  text-decoration: none;
}